

.service-wraper{
    padding: 40px 20px;
    width: 100%;
    background-color: #222;
    border-radius: 6px;
    /* background-image: linear-gradient(to right, rgb(253, 90, 14),rgba(184, 17, 114, 0.575)); */
}
.service-header h3{
    color: rgb(253, 90, 14);
}
.service-body p{
    color: #fff;
    /* color: rgb(253, 90, 14); */
}
.read-more-btn{
    background-color: rgb(253, 90, 14);
}