
.expert-main-wraper{
    width: 100%;
    overflow: hidden;
}
.expert-wraper{
    display: flex;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.expert-slide-wraper{
    flex-basis: 32%;
    border: 2px solid #ccc;
}
.expert-img{
    height: 150px;
    width: 100%;
}
.expert-img img{
    height: 100%;
    width: 100%;
}
.expert-text{
    padding: 6px;
    width: 100%;
}
.expert-media-wraper{
    display: flex;
    justify-content: space-between;
}
.expert-media span{
    font-size: 26px;
}

.profile-img{

}

.profile-img img{
    height: 250px;
    width: 100%;
}
.profile-text li{
    font-size: 18px;
}

@media (max-width:500px){
    .expert-main-wraper{
        width: 100%;
    }
    .expert-wraper{
        width: 300%;
        display: flex;
    }
    .expert-slide-wraper{
        flex: 100%;
    }
}