
.header{
    height: 80vh;
    width: 100%;
    display: flex;
    align-items: center;
}

.hero-wraper{
    width: 70%;
}

.hero-wraper h1{
    font-size: 50px;
    color: #01FDFE;
    font-weight: 700;
}


.hero-btn{
    margin: 30px 20px 0 0;
    padding: 7px 16px;
    color: #01FDFE;
    border: 2px solid #01FDFE;
}
.hero-btn:hover{
    margin: 30px 20px 0 0;
    padding: 7px 16px;
    color: rgb(21, 21, 41);
    background-color: #01FDFE;
    border: 2px solid #01FDFE;
}


@media (max-width:500px){
    .header{
        height: 60vh;
    }
    .hero-wraper{
        padding: 1rem;
        width: 100%;
    }
    .hero-wraper h1{
        font-size: 30px;
        color: #fff;
        font-weight: 500;
    }
    .hero-btn{
        margin-left: 30px;
    }
    .hero-btn:hover{
        margin-left: 30px;        
        padding: 7px 16px;
        color: rgb(21, 21, 41);
        background-color: #01FDFE;
        border: 2px solid #01FDFE;
    }
    .hero-btn.desctop{
        display: none;
    }
}