
/* .navbar-container{
    width: 100%;
    background-color: #111;
}
.navbar-container{
    display: flex;
    justify-content: space-between;
}
.nav-link{
    padding: 15px;
    color: #fff;
}
.big-navigation{}
.mobile-navigation{
    display: none;
} */